.msg-form__contenteditable {
  position: relative;
}
.custom-send-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.584);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.custom-modal-content {
  background-color: white;
  max-width: 500px;
}
.messages {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.message {
  border: 1px solid gray;
  max-width: 80%;
}
.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}
.btn {
  border: 1px solid black;
  padding: 4px;
  margin: 5px;
}

.display-none {
  display: none;
}
